
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #000;
    padding: 5px;
    color: white;
    align-content: center;
    margin: 10px 0px 0px 0px;
}


#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}



#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


