<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
        >

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <h:outputStylesheet name="./css/bootstrap.min.css"/>
        
        <title>Facelets Template</title>
    </h:head>

    <h:body>
        <div id="pageheader">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Patrones de diseño</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Inicio <span class="sr-only">(current)</span></a></li>

                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Creacion <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="factory.jsp">Factory Method</a></li>
                          <li><a href="abstract.jsp">Abstract factory</a></li>
                          <li><a href="builder.jsp">Builder</a></li>
                          <li><a href="prototype.jsp">Prototype</a></li>
                          <li><a href="singleton.jsp">Singleton</a></li>
                      </ul>
                  </li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Estructural <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="adapter.jsp">Adapter</a></li>
                          <li><a href="bridge.jsp">Bridge</a></li>
                          <li><a href="composite.jsp">Composite</a></li>
                          <li><a href="decorator.jsp">Decorator</a></li>
                          <li><a href="facade.jsp">Facade</a></li>
                          <li><a href="flyweight.jsp">Flyweight</a></li>
                          <li><a href="proxy.jsp">Proxy</a></li>
                      </ul>
                  </li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Comportamiento <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="interpreter.jsp">Interpreter</a></li>
                          <li><a href="chain.jsp">Chain of responsability</a></li>
                          <li><a href="command.jsp">Command</a></li>
                          <li><a href="iterator.jsp">Iterator</a></li>
                          <li><a href="mediator.jsp">Mediator</a></li>
                          <li><a href="memetor.jsp">Memento</a></li>
                          <li><a href="observer.jsp">Observer</a></li>
                          <li><a href="state.jsp">State</a></li>
                          <li><a href="strategy.jsp">Strategy</a></li>
                          <li><a href="visitor.jsp">Visitor</a></li>
                      </ul>
                  </li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
        </div>
        
       
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                    <div id="left">
                        <ui:insert name="left">Left</ui:insert>
                    </div>
                    </div>
                
                    <div class="col-lg-10">
                        <div id="content" class="right_content">
                            <div class="">
                            <ui:insert name="content">Content</ui:insert>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div id="bottom">
            <ui:insert name="bottom">Bottom</ui:insert>
        </div>

    </h:body>

</html>
