<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./WEB-INF/FrontEnd/newTemplate.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

  

    <ui:define name="right">
        MENU
    </ui:define>

    <ui:define name="content">
     
        
        <p:growl id="msj" showDetail="true"></p:growl>
            <h:form>
                 <div class="row">
                       <div class="col-lg-1"></div>
                     <div class="panel panel-success">
                         <div class="panel-heading">
                             formulario de ingreso
                         </div>
                         <div class="panel-body">
                            <div class="col-lg-6">
                                <h:outputLabel value="Ingrese el nit de su empresa" ></h:outputLabel>
                            </div>
                             <div class="col-lg-6">
                                 <h:inputText id="nit" value="#{empresaBean.empresa.nit}" class="form-control" size="" required="true"></h:inputText>
                            </div>
                             
                             <div class="col-lg-6">
                                <h:outputLabel value="Ingrese el nombre de la empresa"></h:outputLabel>
                            </div>
                             <div class="col-lg-6">
                                 <h:inputText id="nombre" class="form-control" value="#{empresaBean.empresa.nombre}" size="" required="true"></h:inputText>
                            </div>
                             
                             <div class="col-lg-6">
                                <h:outputLabel value="Ingrese la direccion de la empresa"></h:outputLabel>
                            </div>
                             <div class="col-lg-6">
                                 <h:inputText id="direccion" class="form-control" value="#{empresaBean.empresa.direccion}" size="" required="true"></h:inputText>
                            </div> 
                             
                             <div class="col-lg-6">
                                <h:outputLabel value="Ingrese el telefono"></h:outputLabel>
                            </div>
                             <div class="col-lg-6">
                                <h:inputText id="telefono" class="form-control" size="" value="#{empresaBean.empresa.telefono}" required="true"></h:inputText>
                                
                            </div>  
                              <div class="col-lg-6">
                                <h:outputLabel value="Obervaciones"></h:outputLabel>
                            </div>
                              <div class="col-lg-6">
                                  <h:inputText id="observaciones" class="form-control" size="" value="#{empresaBean.empresa.observaciones}" required="true"></h:inputText>
                                
                            </div>
                             
                             <p:commandButton value="Ingreso" id="ajax" update=":msj" actionListener="#{empresaBean.registrar()}" styleClass="ui-priority-primary" />
 
                         </div>
                     </div>
                 </div>
                       
            </h:form>
            
    </ui:define>

    <ui:define name="bottom">
        <center> Creado por José Florián </center>
    </ui:define>

</ui:composition>
